.App {
  text-align: center;
}

* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

#container {
  display: flex;
  width: 80vh;
  font-size: 1.2rem;
  justify-content: space-around;
  background-color: yellow;
  padding: 10px  0 10px 0;
  border-radius: 5px;
}

.num-up-down{
  display: flex;
  justify-content: space-around;
  font-size: 1.65rem;
}

.buttons {
  cursor: pointer;
  outline: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid #333;
  font-size: 1.5rem;
}

#timer {
  width: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#timer-label {
  font-size: 2rem;
}

#time-left {
  font-size: 4rem;
}

.timer-control {
  width: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px  0 10px 0;
  background-color: orange;
  border-radius: 5px;
}

.timer-control>button {
  width: 95px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: 1px solid #333;
  font-size: 1.2rem;
}
